@charset "UTF-8";
/* CSS Document */
/*重定义标签*/
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, pre, code, del,  em, img, strong, dl, dt, dd, ol, ul, li,  form, label, table, tbody, tfoot, tr, th, td,button, input, textarea,select{margin:0;padding:0;}

/*定义body,必须给颜色,不然在开启健康护色后会很是绿色*/
body{color:#272636;background-color:#fff;}



/*必须定义input之类的,这些东西居然不继承, 他妹的*/
body, button, input, select, textarea{font:12px/1.5 'Microsoft YaHei',tahoma,arial,serif;}

ol li, ul li {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}


textarea{
    overflow:auto;
    resize:none;/*让其不可以改变大小*/
}


/* 元素获得焦点时的样式! */
:focus {
    outline: 0;
}

/* 特殊文本的样式! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* 细线表格样式 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*定义连接*/
a{text-decoration:none;color:#333;}
a:hover{color: #fff2f6;}

/**
 * 解决按钮要比正常宽的bug
 */
button,input{
    overflow: visible;
}


/*清除浮动*/
.clx{zoom: 1;}
.clx:after{clear:both;content:".";display:block;height:0;visibility:hidden;overflow:hidden;}

/*定义浮动*/
.fl{float:left;}
.fr{float:right;}

/*定义小三角*/
.arrow{display:inline-block;border:5px dashed transparent;height: 0;width:0;overflow:hidden;}


h1,h2,h3,h4,h5,h6{font-weight: normal;font-size:100%;}
i{font-style: normal;}
b{font-weight: normal;}

/*解决图片上/下有边界*/
img{vertical-align: top;border:none;}

/*解决li在ie7里有上边界*/
li{vertical-align:top;}

/*文字方向定位*/
.tl{ text-align: left;}
.tr{ text-align: right;}
.tc{ text-align: center;}

/*线性块级元素*/
.none{ display: none;}
.db{ display: block;}
.dib{ display: inline-block;}
.di{ display: inline;}


.box{}
.slide{ position: relative; width: 100%; overflow: hidden;}
.slide ul{
    width: 100%;
}
.slide ul li{
    width: 100%;
    background: #fff no-repeat left top;
    background-size: cover;
    float: left;
}
.slide ol{}
.slide ol li{}
.info{
    text-align: center;
}
.info li {
    width: 60px;
    height: 80px;
    display: inline-block;
    text-align: center;
    margin: 7px;
}
.info li span{
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #ffb4ae;
}
.icons{
    width: 60px;
    height: 60px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
}
.ui-1{
    background-image: url(img/ui1.png);
}
.ui-2{
    background-image: url(img/ui2.png);
}
.ui-3{
    background-image: url(img/ui3.png);
}
.ui-4{
    background-image: url(img/ui4.png);
}
.ui-5{
    background-image: url(img/ui5.png);
}
.ui-6{
    background-image: url(img/ui6.png);
}
.ui-7{
    background-image: url(img/ui7.png);
}
.ui-8{
    background-image: url(img/ui8.png);
}

.link{
    border-top: 1px solid #ffa49c;
    width: 90%;
    margin: 10px auto;
    padding-top: 10px;
    text-align: center;
}
.link1{
    background-color: #ff493a;
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    margin: 0 10px;
    border-radius: 3px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
    vertical-align: bottom;
    box-shadow: -0px 3px 3px 0px rgba(0,0,0,.3);
}
.link2{
    background-color: #0075a9;
    color: #fff;
    display: inline-block;
    border-radius: 3px; text-shadow: 1px 1px 1px rgba(0,0,0,.2);
    padding: 5px 11px;
    font-size: 12px;
    vertical-align: bottom;
    box-shadow: -0px 3px 3px 0px rgba(0,0,0,.3);
}

.mod{
    width: 290px;
    margin: 0 auto;
}
.mod dd{
    width: 128px;
    height: 170px;
    padding: 5px;
    float: left;
    margin: 10px 10px 10px 0;
    text-align: center;
    background-color: #ff9289;
    color: #fff;
    border-radius: 3px;
}
.mod dd:nth-child(2n-1){
    margin-right: 0;
}
.mod dd img{
    /*width: 100%;*/
    width: 128px;
    height: 149px;
}
.mod dd p{
    padding-top: 3px;
}
.slide,.swiper-container{
    height: 160px;
}
.slide ul li,.slide ul li{
    height: 160px;
}
.pagination{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 100;
}

@media screen  and (max-width: 320px) {



}