
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8"/>
<title>WE喜帖</title>
<link rel="shortcut icon" href="/Public/Home/favicon.ico" type="image/x-icon" />
<link href="/Public/Shop/css/css.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/Public/Shop/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/Public/Shop/js/public.js"></script>
<script>
	 var sd=false;
	function send()
	{
		if(sd)
		{
			return;	
		}
		var newpwd=$.trim($('#newpwd').val());
		var mobile=$.trim($('#mobile').val());
		var cknewpwd=$.trim($('#cknewpwd').val());
		var m_inv_boy=$.trim($('#m_inv_boy').val());
		var m_inv_girl=$.trim($('#m_inv_girl').val());
		var err='';
		if(mobile!='')
		{
			var a = /^1[3|4|5|7|8]\d{9}$/ ;
			if( mobile.length != 11 ){
				err+='请输入11位手机号码<br>';
			}else if(! a.test(mobile) ){
				err+='请输入正确的手机号码!<br>';
			}
		}
		else
		{
			err+='请输入正确的手机号码!<br>';
		}
		if(newpwd!=''&&cknewpwd!='')
		{
			if(newpwd.length<4||newpwd!=cknewpwd)
			{
				err+='请正确设置密码!';
			}
		}
		else
		{
				err+='请正确设置密码!';
		}
		if(err=='')
		{
                    sd=true;
                    var url='<?php echo APP_NAME?>/shop/member/add';
                    var p={
                                    'newpwd':newpwd,
                                    'mobile':mobile,
                                    'cknewpwd':cknewpwd,
                                    'boy':m_inv_boy,
                                    'girl':m_inv_girl,
                                    'act':'y',
                                    'type':'ajax',
                                    'id':''
                            };


                    $.post(url,p,function (data){
                            if(data.status>0)
                            {
                                    msg(data.msg,data.url);
                            }
                            else
                            {
                                    sd=false;
                                    msg(data.msg,'');
                            }	
                    },'json');
		}
		else
		{
			msg(err,'');	
		}
	}
	
</script>
</head>
<body>
  <div id="top01">
    <div id="topleft"><img src="/Public/Shop/images/logo02.png" /></div>
    <div id="topright">
		<table><tr>
<td><a href="<?php echo APP_NAME?>/shop/index/index"  >首页</a></td>
<td width="20px"></td><td><a href="<?php echo APP_NAME?>/shop/member/glist"  >账号管理</a></td>
<td width="20px"></td><td><a href="<?php echo APP_NAME?>/shop/shop/setting"  >商户信息</a></td>
<td width="20px"></td><td><a href="<?php echo APP_NAME?>/shop/account/glist"   > 消耗明细</a></td>
</tr></table>
    </div>
  </div>
  <div id="content01">
    <table id="mscenter01" cellpadding="10" cellspacing="6" bgcolor="#CCCCCC" width="800px">
      <tr><td width="80%" bgcolor="#FFFFFF" align="center">添加帐号</td>
	  <td bgcolor="#FFFFFF" rowspan="2"></td></tr>
      <tr><td bgcolor="#ffffff" align="center">
        <table cellpadding="6" cellspacing="0">
		  <tr>
			<td width="100px" align="right">手机号：</td>
			<td align="left"><input type="text" name="mobile"  id="mobile" value=""><span style="color:red; margin-left:5px">*</span></td>
		  </tr>
		  <tr>
			<td align="right">新密码：</td>
			<td align="left"><input type="password" name="newpwd"  id="newpwd" value=""><span style="color:red; margin-left:5px">*</span></td>
		  </tr>
           <tr>
			<td align="right">确认密码：</td> 
			<td align="left"><input type="password" name="cknewpwd"  id="cknewpwd" value=""><span style="color:red; margin-left:5px">*</span></td>
		  </tr>
          <tr><td align="right">新郎：</td><td align="left"><input type="text"  name="m_inv_boy"  id="m_inv_boy" value=""></td></tr>
          <tr><td align="right">新娘：</td><td align="left"><input type="text" name="m_inv_girl" id="m_inv_girl" value=""></td></tr>
          <tr><td align="right"></td><td align="left"><input type="image" onClick="send()" src="/Public/Shop/images/button02.png" />
        
          </td></tr>
        </table>
      </td></tr>
      
     
    </table>
  </div>
  <div  id="logout01"><table cellpadding="0" cellspacing="0" id="mscenter01"><tr><td >欢迎您，<?php echo $loginuser['email']?></td><td width="6px"></td><td><a href='<?php echo APP_NAME?>/shop/index/login?act=y'><img src="/Public/Shop/images/logout.png" /></a></td><td width="6px"></td><td><a href='<?php echo APP_NAME?>/shop/shop/setting'><img src="/Public/Shop/images/changepwd.png" /></a></td><td width="6px"></td><td><a href='<?php echo APP_NAME?>/' target="_blank"><img src="/Public/Shop/images/zhizuo.png" /></a></td></tr></table></div>
  <div id="footer02">Copyright 2014-2015 WE喜帖</div>
</body>
</html>