
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>WE喜帖</title>
<link rel="shortcut icon" href="/Public/Home/favicon.ico" type="image/x-icon" />
<link href="/Public/Shop/css/css.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/Public/Shop/js/jquery.js"></script>

<script src="/Public/Shop/js/jquery.artDialog.js?skin=idialog"></script>
<script type="text/javascript" src="/Public/Shop/js/public.js"></script>
<script type="text/javascript" src="/Public/Shop/js/ajaxupload.js"></script>
<script>

function help1(){
	var content = '<pre>注：在自己的微信公众平台"素材管理"中新建一条<br/>单图文消息文章，然后将文章链接拷贝至此即可，<br/><a href="http://mp.weixin.qq.com/mp/appmsg/show?__biz=MjM5MDk4NDIzNA==&appmsgid=10000008&itemidx=1&sign=6445783b4537ac956278505f83d4172c#wechat_redirect" target="_blank">[点击查看参考示例 -> ]</a></pre>';
	openHelpDialog(content);
}
function help2(){
	var content = '<pre>注：在自己的微信公众平台"素材管理"中新建一条<br/>单图文消息文章，按以下图示编辑好后将文章链接拷贝至此即可<br/><img src="/Public/Shop/images/h2.png"><br/><a href="http://mp.weixin.qq.com/mp/appmsg/show?__biz=MjM5NjcyODg5Mw==&appmsgid=10000005&itemidx=1&sign=ef79f0f7f7ae38690913220dbf8c71ff#wechat_redirect" target="_blank">[点击查看参考示例 -> ]</a></pre>';
	openHelpDialog(content);
}

function openHelpDialog(content) {
	art.dialog({
		title: "帮助",
		fixed: true,  
		resize: false,  
		drag: false,  
		lock: true,  
		width: '450',  
		height: '250',  
		opacity:0.5,  
		padding: 0,  
		zIndex:200000000,  
		content:content,  
		close: true,
	}).show;
	return false;
};

        var sd=false;
	function send()
	{
		var s_company = $.trim($('#s_company').val());
		var s_memo_link = $.trim($('#s_memo_link').val());
		var s_link = $.trim($('#s_link').val());
		var s_guanzhu = $.trim($('#s_guanzhu').val());
		var s_tel = $.trim($('#s_tel').val());
		var ad_desc = $.trim($('#ad_desc').val());
		var ad_link = $.trim($('#ad_link').val());
		
		var ad_pic = $.trim($('#ad_pic_img').attr('src'));
		
		var shop_logo = $.trim($('#shop_logo_img').attr('src'));
		
		var new_pwd = $.trim($('#new_pwd').val());
		var re_pwd = $.trim($('#re_pwd').val());
		var ori_pwd = $.trim($('#ori_pwd').val());
		
		if(new_pwd!=''&&re_pwd!=''&&ori_pwd!='')
		{
			if(new_pwd.length<4||new_pwd!=re_pwd)
			{
				msg('请正确设置密码','');return ;	
			}
		}
		else //if(new_pwd!=''||re_pwd!=''||ori_pwd!='')
		{
				msg('请正确设置密码','');return ;	
		}
		if(sd)
		{
			return ;	
		}
		sd=true;
		
		var url='<?php echo APP_NAME?>/shop/shop/setting';
		var p={
			's_company':s_company,
			's_memo_link':s_memo_link,
			's_link':s_link,
			's_guanzhu':s_guanzhu,
			
			'ad_pic':ad_pic,
			'shop_logo':shop_logo,
			
			
			's_tel':s_tel,
			'ad_desc':ad_desc,
			'ad_link':ad_link,
			'new_pwd':new_pwd,
			're_pwd':re_pwd,
			'ori_pwd':ori_pwd,
			'act':'y',
			'type':'ajax'
	    };
		$.post(url,p,function (data){
			msg(data.msg,'');sd=false;
				
		},'json')
	
	}
	
	$(document).ready(function () {
                var button = $('#shop_logo'), interval;
		
		new AjaxUpload(button, {
			action: '<?php echo APP_NAME?>/shop/shop/upload', 
			name: 'myfile',
			responseType:true,
			onSubmit : function(file, ext){
                               if (!(ext && /^(jpg|png|gif)$/.test(ext.toLocaleLowerCase()))){
                                    $('#shop_logo_err').html('抱歉，我们只支持上传jpg、png、gif格式的图片');
                                    return false;               
                               }
				
				$('#shop_logo_err').html('上传中... ');
				this.disable();
				interval = window.setInterval(function(){
					
				}, 200);
			},
			onComplete: function(file, response){
				bd(file,response);
				window.clearInterval(interval);
				this.enable();
			}
		});
		
		
		var button1 = $('#ad_pic'), interval1;
		
		new AjaxUpload(button1, {
			action: '<?php echo APP_NAME?>/shop/shop/upload', 
			name: 'myfile',
			responseType:true,
			onSubmit : function(file, ext){
                               if (!(ext && /^(jpg|png|gif)$/.test(ext.toLocaleLowerCase()))){
                                    $('#ad_pic_err').html('抱歉，我们只支持上传jpg、png、gif格式的图片');
                                    return false;               
                               }
				
				$('#ad_pic_err').html('上传中... ');
				this.disable();
				interval1 = window.setInterval(function(){
					
				}, 200);
			},
			onComplete: function(file, response){
				bd1(file,response);
				window.clearInterval(interval);
				this.enable();
			}
		});
		
		
});

	function bd(file,response)
	{
		
		if(response.status=='-1')
		{
			$('#shop_logo_err').html(response.msg);
		}
		else
		{
			$('#shop_logo_err').html(response.msg);
			$('#shop_logo_img').css({'display':'block'});
			$('#shop_logo_img').attr('src',response.url)
		}
	}
	
	function bd1(file,response)
	{
		
		if(response.status=='-1')
		{
			$('#ad_pic_err').html(response.msg);
		}
		else
		{
			$('#ad_pic_err').html(response.msg);
			$('#ad_pic_img').css({'display':'block'});
			$('#ad_pic_img').attr('src',response.url)
		}
	}
	
	
</script>
</head>
<body>
  <div id="top01">
    <div id="topleft"><img src="/Public/Shop/images/logo02.png" /></div>
    <div id="topright">
		<table><tr>
<td><a href="<?php echo APP_NAME?>/shop/index/index"  >首页</a></td>
<td width="20px"></td><td><a href="<?php echo APP_NAME?>/shop/member/glist"  >账号管理</a></td>
<td width="20px"></td><td><a href="<?php echo APP_NAME?>/shop/shop/setting" style="font-weight:bold" >商户信息</a></td>
<td width="20px"></td><td><a href="<?php echo APP_NAME?>/shop/account/glist"   > 消耗明细</a></td>
</tr></table>
    </div>
  </div>
  <div id="content01">
    <table id="mscenter01" cellpadding="10" cellspacing="6" bgcolor="#CCCCCC" width="800px">
      <tr>
        <td bgcolor="#FFFFFF" align="center">修改信息<span style="color:red"></span></td>
      </tr>
      <tr>
        <td bgcolor="#ffffff" align="center">
          <table cellpadding="6" cellspacing="0" width="100%" >
            <tr>
              <td align="right" style="border-bottom:dashed 1px #ccc;text-align:left; background-color:#eee" colspan="2">修改密码</td>
            </tr>
            <tr>
              <td width="185" align="right">原密码：</td>
              <td width="555" align="left"><input type="password" name="ori_pwd" id="ori_pwd" value="" /></td>
            </tr>
            <tr>
              <td align="right">新密码：</td>
              <td align="left"><input type="password" name="new_pwd" id="new_pwd" value="" /></td>
            </tr>
            <tr>
              <td align="right">重复输入：</td>
              <td align="left"><input type="password" name="re_pwd" id="re_pwd" value="" /></td>
            </tr>
            <tr>
              <td align="right" style="border-bottom:dashed 1px #ccc;text-align:left; background-color:#eee" colspan="2">公司信息</td>
            </tr>
            <tr>
              <td width="185" align="right">商户LOGO：</td>
              <td align="left"><input name="上传" type="button" id="shop_logo" value="上传">
               <span id="shop_logo_err" style="color:#F00"></span> (尺寸：180px以内 * 55px)</td>
            </tr>
        
           
            <tr>
              <td width="185" align="right"></td>
              <td align="left"><img  style=" display:none" id="shop_logo_img" src="" /> </td>
            </tr>
         
            <tr>
              <td width="185" align="right">商户名称：</td>
              <td align="left"><input type="text" name="s_company" id="s_company" value="<?php echo $loginuser['shop_company']?>" /></td>
            </tr>
            <tr>
              <td width="185" align="right">商户主页：</td>
              <td align="left"><input type="text" name="s_link" id="s_link" value="<?php echo $loginuser['shop_link']?>" /></td>
            </tr>
            <tr>
              <td width="185" align="right">商户电话：</td>
              <td align="left"><input type="text" name="s_tel"  id="s_tel" value="<?php echo $loginuser['shop_tel']?>" /></td>
            </tr>
            <tr>
              <td width="185" align="right">商户简介链接：</td>
              <td align="left"><input type="text" name="s_memo_link" id="s_memo_link" value="<?php echo $loginuser['shop_memo_link']?>" />
                &nbsp;<a onclick="help1()" ><img src="/Public/Shop/images/wen.png" width="15px" class="cu" /></a></td>
            </tr>
            <tr>
              <td width="185" align="right">关注链接：</td>
              <td align="left"><input type="text" name="s_guanzhu" id="s_guanzhu" value="<?php echo $loginuser['shop_guanzhu']?>" />
                &nbsp;<a onclick="help2()" ><img src="/Public/Shop/images/wen.png" width="15px" class="cu" /></a></td>
            </tr>
                         <tr>
              <td align="right" style="border-bottom:dashed 1px #ccc;text-align:left; background-color:#eee" colspan="2">广告信息</td>
            </tr>
            <tr>
              <td align="right">广告连接：</td>
              <td align="left"><input type="text" name="ad_link"  id="ad_link" value="<?php echo $loginuser['shop_ad_link']?>" /></td>
            </tr>
            <tr>
              <td align="right">广告图片：</td>
              <td align="left"><input name="上传" type="button" id="ad_pic" value="上传">
                <span id="ad_pic_err" style="color:#F00">&nbsp;</span> (尺寸：335*230)</td>
            </tr>
            
           
            <tr>
              <td align="right"></td>
              <td align="left"><img id="ad_pic_img"  style="display:none" src="" /></td>
            </tr>
           
            <tr>
              <td align="right"></td>
              <td align="left"><input onclick="send()" type="image" src="/Public/Shop/images/button02.png" /></td>
            </tr>
          </table>
          <input type="hidden" name="act" value="setting" />
        </td>
      </tr>
    </table>
</div>
  <div ><table cellpadding="0" cellspacing="0" id="mscenter01"><tr><td >欢迎您，<?php echo $loginuser['email']?></td><td width="6px"></td><td><a href='<?php echo APP_NAME?>/shop/index/login?act=y'><img src="/Public/Shop/images/logout.png" /></a></td><td width="6px"></td><td><a href='<?php echo APP_NAME?>/shop/shop/setting'><img src="/Public/Shop/images/changepwd.png" /></a></td><td width="6px"></td><td><a href='<?php echo APP_NAME?>/' target="_blank"><img src="/Public/Shop/images/zhizuo.png" /></a></td></tr></table></div>
  <div style="margin-top:20px; margin-bottom:20px;">Copyright 2014-2015 WE喜帖</div>
</body>
</html>