@charset "utf-8";
/* CSS Document */

body{margin:0px; padding:0px; font:微软雅黑, Arial, Helvetica, sans-serif; font-size:14px; background-image:url(/Public/Shop/images/bgcolor01.png); background-repeat:repeat; text-align:center;  color:#666;}
a:link{ color:#000; text-decoration:none;}
a:visited{ color:#000; text-decoration:none;}
img{border:0}
#mscenter{ margin:20px auto; text-align:center; width:100%;}
#mscenter01{ margin:0px auto;}
#mscenter02{ margin:20px auto; text-align:center; width:100%; background-image:url(/Public/Shop/images/bgcolor02.png); background-repeat:no-repeat; background-position:center;}
#input01{ height:20px; width:90%; border: 1px solid; border-color: #CCC #EEE #EEE #CCC;background: #fff;}
#input02{ height:20px; width:300px; border: 1px solid; border-color: #CCC #EEE #EEE #CCC;background: #fff;}
#bigfont{ font-size:24px; margin:20px auto; text-align:center; width:100%;}
#buttons01{ text-align:center; margin:0px auto; width:100%; position:absolute; top:310px; }
#buttons02{ text-align:center; margin:0px auto; width:100%; position:absolute; top:490px; }
#buttons03{ text-align:center; margin:0px auto; width:100%; position:absolute; top:350px; }
#logout01{ text-align:center; margin:0px auto; width:100%; position:absolute; top:730px;}
#logout02{ text-align:center; margin:0px auto; width:100%; }
#logout03{ text-align:center; margin:0px auto; width:100%; position:absolute; top:600px;}
#footer01{ margin:20px auto; width:100%; text-align:center;}
#footer02{ margin:20px auto; width:100%; text-align:center; position:absolute; top:780px;}
#footer03{ margin:20px auto; width:100%; text-align:center; position:absolute; top:650px;}
#top01{ height:54px; width:100%; background-color:#FFF; }
#topleft{ position:absolute; left:10px; top:10px;}
#topright{ position:absolute; right:30px; top:16px;}
#content01{ text-align:center; width:100%; margin:40px auto;}
.page{margin-left:20px;}
.page .current{ display:block; margin-left:8px; color:#F00; float:left; line-height:17px;}
.page .num{ display:block; margin-left:8px; float:left; }
.page .next{ display:block; margin-left:8px; float:left; }
.page .prev{ display:block; margin-left:8px; float:left; }
.page .first{display:block; margin-left:8px; float:left; }
.page .end{display:block; margin-left:8px; float:left; }

#overlay{position:fixed;top:0;left:0;width:100%;height:100%;background:#000;opacity:0.5;filter:alpha(opacity=50);display:none;}
#overlay{position:absolute;}
*html #overlay{position:absolute;}
#win{position:absolute;width:300px;height:auto;background:#fff;display:none;}


#overlayc{position:fixed;top:0;left:0;width:100%;height:100%;background:#000;opacity:0.5;filter:alpha(opacity=50);display:none;}
#overlayc{position:absolute;}
*html #overlayc{position:absolute;}
#winc{position:absolute;width:300px;height:auto;background:#fff;display:none;}

.cu{ cursor:pointer;}