<!DOCTYPE html >
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>WE喜帖 - 微信里的婚礼请柬 - 结婚电子喜帖首选！免费注册开通...</title>
<meta name="description" content="WE喜帖（微请柬）- 一种可以用微信浏览和传播分享的婚礼个人主页，包含请柬邀请函、婚宴地址和地图导航，来宾签收回执和祝福，婚纱照浏览，互动礼物，微信红包等功能。是最精致、功能最全面微信电子喜帖/请柬！">
<meta name="keywords" content="WE喜帖_网络相册_微相册_婚纱照_请柬_邀请函">
<!--<meta name="baidu-tc-cerfication" content="efdc44027816e156ae8849bfc8567c51" />-->
 <link rel="shortcut icon" href="/Public/Home/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css"  href="/Public/Home/css/style.css" />
<script>
function openWeixin(){
	document.getElementById("weixinicon").style.display = "block";
}
function closeWeixin(){
	document.getElementById("weixinicon").style.display = "none";
}
</script>
</head>

<body>
<div class="top center">
	<div class="center mainbox overHide">
    	<ul class="fr">
        	<span class="fl mr20">
            	客服电话：010—58695950    
            </span>
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1307568719&site=qq&menu=yes" class="fl qq overHide mr20">
            	qq
            </a>
            <a  onMouseOver="openWeixin()" class="fl weixin overHide">
            	微信
            </a>
            <div id="weixinicon" style=" z-index:10000;display:none;background-color:#FFF; position:absolute; left: 703px; top: 39px; width: 430px; height: 33px;"><div style=" z-index:10000;background-color:#FFF;width:430px; text-align:right"><a onClick="closeWeixin()">关闭</a></div><img src="/Public/Home/images/qrcode_for_gh_73c8c49f47df_430.jpg" />
            </div>
        </ul>
    </div>
</div>
<div class="header">

<div class="headerBox overHide">
        <div class="mainbox navBox  overHide center">
            <h1 class="logo fl">
                <img src="/Public/Home/images/logo.png"  />
            </h1>
            <div class="fr overHide nav">
                <ul class="fl navL overHide mr20">
					
                    <li class="fl">
                        <a href="<?php echo APP_NAME?>/">
                            产品介绍
                        </a>
                    </li>
                    <li class="fl">
                        <a href="<?php echo APP_NAME?>/home/shanghuguanli.html">
                            商户代理
                        </a>
                    </li>
					<li class="fl">
                        <a href="<?php echo APP_NAME?>/home/wedding.html">
                            WE喜帖
                        </a>
                    </li>
                </ul>
                <ul class="fl navR1" style="margin-top:18px;" >
                <li style="height:40px; font-size:18px; width:210px; line-height:40px; background-image:url(/Public/Home/images/u2.png);" >
                <a href="<?php echo APP_NAME?>/member"> 制作我的喜帖</a>
                </li>
                </ul>
            </div>
        </div>
    </div>
	  
    
      
    <div class="bannerBox">
    	<div class="banner1 mainbox center txtCenter">
        	<img src="/Public/Home/images/banner.png"   />
        </div>
    </div>
</div>
<div class="conBox">
	<!--功能优势-->
	<div class="box1 mainbox center mb10">
    	<img src="/Public/Home/images/box1.png" />
    </div>
	<!--标题-->
    <div class="titBox txtCenter">
    	<img src="/Public/Home/images/tit1.jpg" width="215"  />
    </div>   
	<!--打开浏览器--> 
	<div class="box2 center txtCenter">
    	<img src="/Public/Home/images/box2.jpg" />
    </div>
	<!--邀请函--> 
	<div class="box3 txtCenter  center">
    	<img src="/Public/Home/images/box3.jpg" />
    </div>
	<!--地图导航--> 
	<div class="box2 center txtCenter">
    	<img src="/Public/Home/images/box4.jpg" />
    </div>
	<!--婚礼来宾--> 
	<div class="box3 txtCenter  center">
    	<img src="/Public/Home/images/box5.jpg" />
    </div>
	<!--祝福留言--> 
	<div class="box4 txtCenter  center">
    	<img src="/Public/Home/images/box6.jpg" />
    </div>
	<!--婚纱照--> 
	<div class="box3 txtCenter  center">
    	<img src="/Public/Home/images/box7.jpg" />
    </div>
	<!--多套壁纸--> 
	<div class="box2 txtCenter  center">
    	<img src="/Public/Home/images/box8.jpg" />
    </div>
	<!--传播与分享--> 
	<div class="box3 txtCenter  center">
    	<img src="/Public/Home/images/box9.jpg" />
    </div>
	<!--二维码--> 
	<div class="box2 txtCenter  center">
    	<img src="/Public/Home/images/box10.jpg" />
    </div>
	<!--四点优点--> 
	<div class="box3 txtCenter  center">
    	<img src="/Public/Home/images/box11.jpg" />
    </div>
	<!--标题-->
    <div class="titBox txtCenter">
    	<img src="/Public/Home/images/tit2.jpg" width="215"  />
    </div>   
	<!--申请开通--> 
	<div class="box3 txtCenter  center">
    	<img src="/Public/Home/images/box12.jpg" />
    </div>
</div>
<div class="footer txtCenter">
	 <p>
     	一种可以用微信浏览和传播分享的婚礼个人主页，包含请柬邀请函、婚宴地址和地图导航，来宾签收回执和祝福，婚纱照浏览，互动礼物，微信红包等功能。是最精致、功能最全面微信电子喜帖/请柬！           
     </p>
	 <p>
     	<a href="http://www.miitbeian.gov.cn/" title="WE喜帖 - 微信里的婚礼请柬 - 结婚电子喜帖首选！"></a>         
     </p>
     <p>

     </p>
</div>
</body>


<!--<div style="display: none">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F333da89737d725c5f86eb4194bcd8d91' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>-->


</html>