<!DOCTYPE html>
<html class="ahtml">
<head>
    <title>应邀嘉宾</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" CONTENT="-1">           
    <meta http-equiv="Cache-Control" CONTENT="no-cache">           
    <meta http-equiv="Pragma" CONTENT="no-cache">
    
    <link rel="stylesheet" href="/Public/Wedding/css/pages.css?t=321a" />
    <script src="/Public/Wedding/js/require.js?t=123ssaa" data-main="/Public/Wedding/js/main"></script>
    <script type="text/javascript" src="/Public/Wedding/js/jq.js"></script>
<script type="text/javascript">

function showPage(is_init){
    var page = $("#page").val();//当前页码
    var prev_page = $("#prev_page").val();//前一页
    var next_page = $("#next_page").val();//后一页
    var total_current = $("#total_page").val();//总页数
    
    if(page > total_current){
        return false;
    }else{
        $.get("<?php echo APP_NAME?>/wedding/guest/glist/p/"+page+"/page/"+page+"/prev_page/"+prev_page+"/next_page/"+next_page,function(result){
                console.log(result);
                //window.location.href=window.location.href;
                    var data = result.list;
                    var html = '';
                    for(var i in data){
                        html += '<div class="yyjb_cont_t clearfix">';
                        html += '  <div class="f_l">';
                        html += '      <var>'+data[i].name+'</var>共<font class="c1a">'+data[i].num+'</font>人出席<br />';
                        html += '      <font class="bt">确认时间：'+data[i].create_time+'</font>';
                        html += '  </div>';
                        html += '  <div class="f_r">'+data[i].str+'</div>';
                        html += '</div>';
                    }
                    
                    if(is_init == 1){
                        $("#messages").html(html);
                    }else{
                        $("#messages").append(html);
                    }
                    
                    $("#page").val(result.page);
                    $("#prev_page").val(result.prev_page);
                    $("#next_page").val(result.next_page);
                    $("#total_page").val(result.total_page);
                    if(result.page > result.total_page){
                        $("#show_more").hide();
                    }
                return true;
        },'json');
    }
}

$(function(){
    showPage(1);
    $("#show_more").click(function(){
        showPage(2);
    });
});
</script>
</head>
<body>
<div class="bod_cent">
    <div class="yyjb" id='target'>
        <section class="yyjb_top">
            <h4 class="c1a">应邀嘉宾</h4>
            <font class="d_ib">男方： <em><?php echo $man?></em> 人</font>
            <font class="d_ib">女方： <em><?php echo $men?></em> 人</font>
            <font class="d_ib">共： <em class="cff6582"><?php echo $count?></em> 人</font>
        </section>
        <section class="yyjb_cont">
            <div class="yyjb_cont_text bg_fff">
                <div class="yyjb_cont_a" id="messages"></div>
            </div>
            <input type="hidden" name="page" id="page" value="1"/>
            <input type="hidden" name="prev_page" id="prev_page" value="1"/>
            <input type="hidden" name="next_page" id="next_page" value="2"/>
            <input type="hidden" name="total_page" id="total_page" value="{$total_page}"/>
            <div class="yyjb_cont_b t_al_c" id="show_more">
                (点击)上拉查看更多...
            </div>
        </section>
    </div>

</div>
</body>
</html>