<!DOCTYPE html>
<html class="ahtml">
<head>
	<title>首页</title>
	<meta charset='utf-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="Expires" CONTENT="-1">           
	<meta http-equiv="Cache-Control" CONTENT="no-cache">           
	<meta http-equiv="Pragma" CONTENT="no-cache">
	
	<link rel="stylesheet" href="/public/Wedding/css/pages.css?t=123a2ea" />
	<script src="/public/Wedding/js/require.js?t-231a" data-main="/public/Wedding/js/main"></script>
</head>
<body>
<div class="bod_cent">
	<div class="index box">
		<table class="row100 index_cent">
			<tr>
				<td class="row50"><img src="/public/Wedding/images/index_img1.jpg" alt=""><div class="mytxt" contenteditable="true">王小明</div></td>
				<td><img src="/public/Wedding/images/index_img2.jpg" alt=""><div class="mytxt" contenteditable="true">李翠花</div></td>
			</tr>
			<tr>
				<td><img src="/public/Wedding/images/index_img3.jpg" alt="" style="padding-bottom:.2rem"><div class="section1">2015年6月12日</div></td>
				<td rowspan='2'><img src="/public/Wedding/images/index_img8.jpg" alt=""><div class="mytxt section2">北京·丽晶酒店</div></td>
			</tr>
			<tr>
				<td><img src="/public/Wedding/images/index_img4.jpg" alt="" style="padding-top:.2rem"><div class="section1">19时：30分</div></td>
			</tr>
			<tr>
				<td colspan='2'><img src="/public/Wedding/images/index_img9.jpg" alt=""><div class="mytxt mytxt1" contenteditable="true">沉浸在幸福中的我们将在这一天从此融合为一，共同编制幸福之旅，邀约您见证并分享我们的喜悦。</div></td>
			</tr>
			<tr>
				<td><img src="/public/Wedding/images/index_img5.jpg" alt=""><div class="section1">公主日记</div></td>
				<td><img src="/public/Wedding/images/index_img6.jpg" alt=""><div class="section1">浪漫满屋</div></td>
			</tr>
			<tr>
				<td colspan='2'>
					<img src="/public/Wedding/images/index_img10.jpg" alt="">
					<div class="section3">
						<div class="section3a">
							
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>
</body>
</html>