<!DOCTYPE html>
<html class="ahtml">
<head>
	<title>制作—地点</title>
	<meta charset='utf-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="Expires" CONTENT="-1">           
	<meta http-equiv="Cache-Control" CONTENT="no-cache">           
	<meta http-equiv="Pragma" CONTENT="no-cache">
	
	<link rel="stylesheet" href="/Public/Wedding/css/pages.css?t=123a2ab" />
	<script src="/Public/Wedding/js/require.js" data-main="/Public/Wedding/js/main"></script>
</head>
<body>
<div class="bod_cent">
	<div class="zz_dd">
		<textarea name="address" id="address" cols="30" rows="10" class='row100 box' placeholder="请输入地址"></textarea>
		<div class="emp30"></div>
		<a href="javascript:void(0)" class='btn1' id="submit_address">确认</a>
	</div>
</div>
</body>
</html>