<!DOCTYPE html>
<html class="ahtml">
<head>
    <title>预览我的喜帖</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" CONTENT="-1">           
    <meta http-equiv="Cache-Control" CONTENT="no-cache">           
    <meta http-equiv="Pragma" CONTENT="no-cache">
    
    <link rel="stylesheet" href="/Public/Wedding/css/pages.css" />
     <script src="/Public/Wedding/js/require.js" data-main="/Public/Wedding/js/main"></script>
</head>
<body>
<div class="bod_cent">
    <div class="ylxt t_al_c c4c">
        <div class="emp30"></div>
        <a href="WE喜帖.html" class="btn1 d_b bg_ff65 c_fff row80">预览我的喜帖</a>
        <div class="emp70"></div>
        <a href="{$url}"><img src="http://qr.liantu.com/api.php?bg=ffffff&amp;fg=ff0000&amp;gc=222222&amp;el=l&amp;w=238&amp;m=10&amp;text=<?php echo $text?>" alt="QR code" widhtheight="238" class="d_b"/></a>
        <div class="emp20"></div>
        点击上面的二维码可发送给朋友
    </div>
</div>
</body>
</html>


