<!DOCTYPE html>
<html class="ahtml">
<head>
	<title>制作—上传婚纱照</title>
	<meta charset='utf-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="Expires" CONTENT="-1">           
	<meta http-equiv="Cache-Control" CONTENT="no-cache">           
	<meta http-equiv="Pragma" CONTENT="no-cache">
	
	<link rel="stylesheet" href="css/pages.css?t=123a2a" />
	 <script src="js/require.js" data-main="js/main"></script>
</head>
<body>
<div class="bod_cent">
	<div class="zz_schsz">
		<section class="ckly_top c4c">我们的婚纱照，已传<font class='d_ib'>3</font>张，还可传<font class='d_ib'>13</font>张</section>
		<div class="emp5"></div>
		<table class="zz_mb">
			<tr>
				<td>
					<img src="img/add_icon.jpg" alt="" class="add_icon">
				</td>
				<td>
					<img src="img/add_img1.jpg" alt="">
				</td>
				<td>
					<img src="img/add_img2.jpg" alt="">
				</td>
			</tr>
			<tr>
				<td>
					<img src="img/add_img3.jpg" alt="">
				</td>
				<td>
				</td>
				<td>
				</td>
			</tr>
		</table>
	</div>
</div>
</body>
</html>