<html>
 <head></head>
 <body>
  <div id="main" class="ma main l_main"> 
   <!--<div class="l_c ma"> 
    <ul> 
     <li class="left"><a onclick="load_index()" rel="address:i13"><img src="/Public/Xt/Huangguan/images/h_1.jpg" class="half-img" /></a></li> 
     <li class="right f40">确定参加婚礼 </li> 
    </ul> 
   </div> -->
   
   <div class="ma" style=" padding-top:1.5%;">

   </div>
   <div class="l_zf ma"> 
       <table width="100%" border="0" cellspacing="0" cellpadding="0">
           <tr style="line-height: 50px;">
               <td  width="23%" align="center">
                    姓名：
               </td>
               <td width="65%" style="word-break:break-all">
                   <input id="yqh_name"/>
               </td>
           </tr>
           
           <tr style="line-height: 50px;">
               <td  align="center">
                    参加人数：
               </td>
               <td style="word-break:break-all">
                   <select id="yqh_renshu">
                       <option value="1">1</option>
                       <option value="2">2</option>
                       <option value="3">3</option>
                       <option value="4">4</option>
                       <option value="5">5</option>
                   </select>
               </td>
           </tr>
           
           <tr style="line-height: 50px;">
               <td  align="center">
                    亲友类别：
               </td>
               <td style="word-break:break-all">
                   <select id="yqh_qylx">
                       <option value="男方亲友">男方亲友</option>
                       <option value="女方亲友">女方亲友</option>
               </td>
           </tr>
           
           <tr style="line-height: 50px;">
               <td></td>
               <td>
                   <input type="button" value="确认提交" onclick="sendyqh(1)"/>
               </td>
           </tr>
           
       </table>
   </div> 
     
  </div> 
  <script>
$(document).scroll(function(){
	if($.trim($('#loadyqhlist').html())==''){return ;}
	
	var wh=$(window).height();
	if($(document).scrollTop()+wh>=$(document).height())
	{
			//load_yqh(1);
	}
	
	if($(document).scrollTop()>wh)
	{
		 load_t(1,wh)
	}
	else
	{
		 load_t(0,wh)	
	}
});
</script>
 </body>
</html>