<div id="main" class="ma main l_main">
  <div class="ma" style=" padding-top:1.5%;">

   </div>
 <div class="l_zf ma">
         	<div style="width:100%; margin-top:5%; text-align:center; background-color:#fafafa">
	<table align="center"  id="submit4" >
		<tbody>
			<tr><td class="logo">
			<table>
				<tr>
					<td width="5">&nbsp;</td>
                                        <td width="299"><img src="<?php echo $shop['shop_logo']?>"></td>
					<td width="81" align="left">
                                            <a href="<?php echo $shop['shop_guanzhu']?>">
                                                <img src="/Public/Xt/Default/images/ui-02_gz.jpg">
                                            </a>
                                        </td>
				</tr>
			</table>
			
			</td></tr>
			<tr><td height="2px"></td></tr>
			<tr><td align="center" class="img_activ">
                                <a href='<?php echo $shop["shop_ad_link"]?>' target="_blank">
                                    <img width="280px" src="<?php echo $shop['shop_ad_pic']?>">
                                </a>

                                </td>
                        </tr>
			<tr><td height="2px"></td></tr>
			<tr>
			<td valign="top">
				<table width="310" border="0" align="center" cellpadding="0" cellspacing="0" class="sub_bj">
				 				
				<tr>
					<td>
					<a href="<?php echo $shop['shop_link']?>" class="title01">商户主页</a>
				</td>
				</tr>
                 				
				<tr>
					<td>
					<a href="tel:<?php echo $shop['shop_tel']?>" class="title02">联系电话</a>
					</td>
				</tr>
                                    <tr>
                        <td>
                        <a href="<?php echo $shop['shop_memo_link']?>" class="title03">商家介绍</a>
                        </td>
                    </tr>
                    				</table>
			</td></tr>
			<tr><td align="center">
                            <div style="margin-top:5%; margin-bottom:15%;">
                            <a style="color:#aba9a9" href="http://mp.weixin.qq.com/mp/appmsg/show?__biz=MjM5ODkwMzIyNA==&appmsgid=10000002&itemidx=1&sign=5b53871491b585519989f3e49c928a90#wechat_redirect" class="f24">© 关于微喜帖 </a>
                            </div>
                            </td>
                        </tr>
		</tbody>
	</table>

    </div>
  </div>
</div>