<div id="main" class="ma main h_main">
   <div class="h_c ma">
   		<ul>
        	<li class="left"><a onClick="load_index()" rel="address:i11"><img    src="/Public/Xt/Hanshi/images/h_1.jpg" class="half-img"></a></li>
            <li class="right f40"> 婚纱照 </li>
        </ul>
   </div>
   <div class="list" id="loadphotolist">
   
        <?php foreach($userphotos as $photo):?>
            <?php if($photo['type']=='image'):?>
            <div class="h_zp ma">
                    <div class="ma zp">
                        <img src="<?php echo $photo['url']?>" class="half-img">
                    </div>
                    <div class="zan">
                       <ul>
                        <li class="left"><img onclick="photozan(<?php echo $photo['id']?>)" src="/Public/Xt/Default/images/h_x.png" class="half-img"></li>
                        <li class="left f24" id="zan_<?php echo $photo['id']?>"><?php echo $photo['zcount']?></li>
                       </ul>
                   </div>
             </div>
            <?php else:?>
            <div class="h_zp ma">
                    <div class="ma" class="f40" id="p_play" style="text-align:center; padding-top:1%;">
                      <img src="/Public/Xt/Default/images/play.jpg" onclick="e_paly()" class="half-img">
                    </div>
             </div>
            <?php endif;?>
        <?php endforeach;?>
   </div>
    <div id="ckgd" class="h_ck ma f24" onclick="load_photo(1)" style="margin-bottom:15%;display: block;">没有了哦...</div>
</div>
<script>
 
function e_paly()
{
	$('#p_play').html('<?php echo $userVideophoto?>');
}
 
$(document).scroll(function(){
	if($.trim($('#loadphotolist').html())==''){return ;}
	var wh=$(window).height();
	if($(document).scrollTop()+wh>=$(document).height())
	{
			//load_photo(1);
	}
	
	if($(document).scrollTop()>wh)
	{
		 load_t(1,wh)
	}
	else
	{
		 load_t(0,wh)	
	}
	
});
</script>