<html>
 <head></head>
 <body>
  <div id="main" class="ma main l_main"> 
   <div class="ma" style=" padding-top:1.5%;"> 
   </div> 
   <div class="l_zf ma"> 
    <div style="width:100%; font-size:0px;"> 
     <img src="/Public/Xt/Huangguanjinse/images/yqh.jpg?1=1" class="half-img" /> 
    </div> 
    <div style="width:90%; line-height:150%; margin-top:5%; margin-bottom:5%; text-align:center; color:#8d7408" class="f24 ma">
     
         <?php echo $userpost['welocome']?>
    </div> 
    <div style="width:90%; margin-top:5%; margin-bottom:2%; text-align:center; color:#4d4d4d" class="f24 ma">
      时间: <?php echo $userpost['inv_date']?>&nbsp;<?php echo $userpost['inv_time_1']?>时<?php echo $userpost['inv_time_2']?>分
     <br />地址:<?php echo $userpost['city']?>&middot;<?php echo $userpost['location']?>
     <br /> 
    </div> 
    <div style="text-align:center; margin-top:5%; "> 
     <a href="<?php echo $map?>"><img src="/Public/Xt/Huangguanjinse/images/map.jpg?1=1" style="width:14.3%;" class="full-img" /></a> 
    </div> 
    <div style="width:90%;line-height:150%;  text-align:center; color:#4d4d4d;margin-bottom:3%" class="f20 ma"> 
     <a href="<?php echo $map?>"><span style="color:#8d7408">查看地图</span></a> 
    </div> 
    <div style="width:90%; margin-bottom:4.2%; line-height:150%;  text-align:center; color:#8d7408" class="f24 ma">
      新郎：<?php echo $userpost['man']?>
     <span style="margin:0 2% 0 2%">|</span>新娘：<?php echo $userpost['woman']?>   
    </div> 
    <div class="h_ck ma  f24" onclick="sendyqh(0)">
     接受邀请
    </div> 
   </div> 
   <div class="l_zf ma"> 
    <div class="my ma"> 
     <ul> 
      <li class="left"><img src="/Public/Xt/Huangguanjinse/images/zf.jpg" class="half-img" /></li> 
      <li class="right f24" style="width:80%">婚礼来宾<span class="f20" style="color:#c6c6c6; margin-left:1%">(共<?php echo count($guests)?>人接受邀请)</span></li> 
     </ul> 
    </div> 
    <div style="overflow:hidden" class="list" id="loadyqhlist"> 
        
     
        <?php foreach($guests as $guest):?>
            <div style=" background-color:#f1f1f1;  clear:both; overflow:hidden; "> 
             <ul> 
              <li style="width:13.6%; font-size:0px; float:left;"> <img src="/Public/Xt/Huangguan/images/nan.png" class="half-img" /> </li> 
              <li style="width:85.5%; padding-top:4%; float:left;"> 
               <table width="100%" border="0" cellspacing="0" cellpadding="0"> 
                <tbody>
                 <tr> 
                  <!--<td width="12%"><img src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEKmVYZFXlo05YS6WELm2ES7iaK0AXoCA3kY5Nde79jn1HAicoKNfrtficWp7Cshl68KLgnRKiaomKt24w/0" style="border:1px solid #dddddd" class="full-img" /></td> -->
                  <td width="23%" align="center">
                   <div style=" color:#596c8c; font-weight:bold;" class="f22">
                    <?php echo $guest['name']?>
                   </div></td> 
                  <td width="65%">
                   <div style=" color:#4d4d4d" class="f22">
                    <span class="f20" style=" color:#4d4d4d"><?php echo $guest['description']?></span>
                   </div></td> 
                 </tr> 
                 <tr> 
                  <td colspan="3" style="padding-top:1%;"> 
                   <table width="100%" border="0" cellspacing="0" cellpadding="0"> 
                    <tbody>
                     <tr> 
                      <td width="41%">
                       <div style=" color:#c6c6c6" class="f20">
                         <?php echo $guest['create_time']?>
                       </div></td> 
                      <td width="59%" align="right">
                       <div onclick="load_msg(0)" style=" color:#fd93a7; margin-right:10%;" class="f20">
                        送祝福•选礼物•抢红包&gt;
                       </div></td> 
                     </tr> 
                    </tbody>
                   </table> </td> 
                 </tr> 
                </tbody>
               </table> </li> 
             </ul> 
            </div>
            <?php endforeach;?>
    </div> 
    <input name="pagecount" id="pagecount" type="hidden" value="1" /> 
    <div style="background-color:#f1f1f1; padding-top:10%; clear:both; overflow:hidden; "> 
     <div id="ckgd" class="h_ck ma f24"   style="margin-bottom:15%;">
      没有了哦...
     </div> 
    </div> 
   </div> 
  </div> 
  <script>
$(document).scroll(function(){
	if($.trim($('#loadyqhlist').html())==''){return ;}
	var wh=$(window).height();
	if($(document).scrollTop()+wh>=$(document).height())
	{
			//load_yqh(1);
	}
	
	if($(document).scrollTop()>wh)
	{
		 load_t(1,wh)
	}
	else
	{
		 load_t(0,wh)	
	}
});
</script>
 </body>
</html>