<html>
 <head></head>
 <body>
  <div id="shouye" style="overflow:hidden;"> 
   <div id="shouye1" class="ibg"> 
    <div class="ibg1">
     <img class="half-img" src="/Public/Xt/Planning/images/bi_top.jpg" />
    </div> 
    <div class="ibg1" style="background-image: url(<?php echo $userpost['photo']?>); margin:0 auto; margin-top:1;"> 
     <img src="/Public/Xt/Planning/images/bi1.png" id="ibg2" class="half-img" /> 
    </div> 
    <div class="ibg1">
     <img class="half-img" src="/Public/Xt/Planning/images/bi_btm.jpg" />
    </div> 
    <div class="ma xm" style="margin-top: 3%;"> 
     <p class="ma"><img src="/Public/Xt/Planning/images/ic.png" id="banner" class="half-img" /></p> 
    </div> 
    <div class="ma xm" style=""> 
     <ul> 
      <li class="c f36 "><?php echo $userpost['man']?>&amp;<?php echo $userpost['woman']?></li> 
     </ul> 
    </div> 
    <div class="ma rq f24">
      <?php echo $userpost['inv_date']?>
     <br /> 
    </div> 
    <div class="ma wz f24"> 
     <a href="<?php echo $map?>"><span><img class="half-img" src="/Public/Xt/Planning/images/i_wz.png" /><?php echo $userpost['city']?>·<?php echo $userpost['location']?> &gt;</span></a> 
    </div> 
    <div class="fixArr" id="fixArr">
     <img class="half-img" src="/Public/Xt/Planning/images/jt.png?1=1" />
    </div> 
   </div> 
  </div>
 </body>
</html>