<html>
 <head></head>
 <body>
  <div id="shouye" style="overflow:hidden;"> 
   <div id="shouye1" class="ibg"> 
    <div> 
     <img src="/Public/Xt/Theonly/images/bi_top.png" class="half-img" /> 
    </div> 
    <div class="ma rq f31">
      时间：<?php echo $userpost['inv_date']?>
     <br /> 
    </div> 
    <!-- // modify by kenxu 141210
            <div class="ibg2">
                <img src="/Public/Xt/Theonly/images/bi_mid.png" class="half-img">
            </div>
            --> 
    <div class="ma xm"> 
     <ul> 
      <li class="c f50"><?php echo $userpost['man']?>&amp;<?php echo $userpost['woman']?></li> 
     </ul> 
    </div> 
    <div class="ibg1" style="background-image: url(/Public/Xt/Theonly/images/bi1.png); margin:0 auto; margin-top:1;"> 
     <img src="<?php echo $userpost['photo']?>" id="ibg2" class="half-img" /> 
    </div> 
    <div class="ibg3"> 
     <img src="/Public/Xt/Theonly/images/bi_btm.png" class="half-img" /> 
    </div> 
    <div class="ma wz f31"> 
     <a href="<?php echo $map?>"><span><img class="half-img" src="/Public/Xt/Theonly/images/i_wz.png" /> <?php echo $userpost['city']?>·<?php echo $userpost['location']?> &gt;&gt; </span></a> 
    </div> 
    <div class="fixArr" id="fixArr">
     <img class="half-img" src="/Public/Xt/Theonly/images/jt.png?1=1" />
    </div> 
   </div> 
  </div>
 </body>
</html>