<div id="main" class="ma main l_main">
   <div class="l_c ma">
   		<ul>
        	<li class="left"><a onClick="load_index()" rel="address:i12"><img onClick="load_yqh(0)" src="/Public/Xt/White/images/h_1.jpg" class="half-img"></a></li>
            <li class="right f40">服务商详情</li>
        </ul>
   </div>
 <div class="l_zf ma">
         	<div style="width:100%; margin-top:5%; text-align:center; background-color:#fafafa">
	<table align="center"  id="submit4" >
		<tbody>
			<tr><td class="logo">
			<table>
				<tr>
					<td width="5">&nbsp;</td>
                                        <td width="299"><img src="<?php echo $shop['shop_logo']?>"></td>
					<td width="81" align="left">
                                            <a href="<?php echo $shop['shop_guanzhu']?>">
                                                <img src="/Public/Xt/White/images/ui-02_gz.jpg">
                                            </a>
                                        </td>
				</tr>
			</table>
			
			</td></tr>
			<tr><td height="2px"></td></tr>
			<tr><td align="center" class="img_activ">
                                <a href='<?php echo $shop["shop_ad_link"]?>' target="_blank">
                                    <img width="280px" src="<?php echo $shop['shop_ad_pic']?>">
                                </a>

                                </td>
                        </tr>
			<tr><td height="2px"></td></tr>
			<tr>
			<td valign="top">
				<table width="310" border="0" align="center" cellpadding="0" cellspacing="0" class="sub_bj">
				 				
				<tr>
					<td>
					<a href="<?php echo $shop['shop_link']?>" class="title01">商户主页</a>
				</td>
				</tr>
                 				
				<tr>
					<td>
					<a href="tel:<?php echo $shop['shop_tel']?>" class="title02">联系电话</a>
					</td>
				</tr>
                                    <tr>
                        <td>
                        <a href="<?php echo $shop['shop_memo_link']?>" class="title03">商家介绍</a>
                        </td>
                    </tr>
                    				</table>
			</td></tr>
			<tr><td align="center">
                            <div style="margin-top:5%; margin-bottom:15%;">
                            <a style="color:#aba9a9" href="http://mp.weixin.qq.com/s?__biz=MzAxMTI4NzYxNg==&mid=202430466&idx=1&sn=02a52a9596b601a4ddfd3d1841d27bb8#rd" class="f24">© 关于WE喜帖 </a>
                            </div>
                            </td>
                        </tr>
		</tbody>
	</table>

    </div>
  </div>
</div>